/*
 * Quick mash-up of CSS for the TG quick start page.
 */

body {
  color: black;
  font: small "Lucida Grande", "Lucida Sans Unicode", geneva, verdana, sans-serif;
  margin: 0;
  padding: 0;
}
tr, td {
    font: small "Lucida Grande", "Lucida Sans Unicode", geneva, verdana, sans-serif;
    margin: 0;
    padding: 0;
}
#main_content a {
    color: #000;
}
#main_content a:hover {
    background-color: #9CF;
}
#main_content {
    padding: 1em;
}
.title {
    background-color: #9CF;
    padding: 1em;
    margin: 0;
}
.titlequote {
    font-size: 0.8em;
    font-style: italic;
    color: #666;
}
#nav {
    background-color: #000;
    margin: 0;
    padding: 0.5em 0 0.5em 0;
}
#nav a {
    color: #FFF;
    padding: 0.5em;
    margin: 0 0.5em 0 0.5em;
}
#nav a:hover {
    color: #000;
    background-color: #FFF;
}

.title h1 {
    margin: 0;
}

.clearing {
    clear: both;
}

.central {
    margin: 0 auto 0 auto;
}

a img {
    border: 0;
}
.code_table {
    background-color: #EEE;
    border: 1px solid #CCC;
    width: 100%;
    overflow: auto;
}
.code_line {
    width: 100%;
    padding-left: 0.2em;
}
.line_number {
    padding: 0 0.2em 0 0.2em;
    color: #666;
    font-size: 0.8em;
    text-align: right;
}
.line_dec {
    color: #000;
}
.code_table pre {
    border: none;
    padding: 2px;
    overflow: none;
}
.code_table tr {
    padding: 0;
    margin: 0;
}
pre {
    font-face: verdana, arial, helvetica, sans-serif; 
    border: 1px solid #CCC;
    background-color: #EEE;
    padding: 1em;
    margin: 0;
}
.pasteview {
    overflow: auto;
}
.paste_header {
    background-color: #CCC;
    padding: 0.5em 1em 0.5em 1em;
    margin: 0;
}
.paste_count {
    color: #CCC;
    font-style: italic;
}
