<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="master.html" />
  <head>
    <title>Stickum - New</title>
  </head>
  <body>
    <div class="paste_zone central">
      <p><strong>Instructions:</strong> Type or Paste.  Click "Paste it!". It's that simple. :)</p>
      <form action="${tg.url('/paste/save')}" method="post">
        <div>
          <label for="lang">Syntax Highlighting:</label>
          <select name="lang">
            <option py:for="lang in sorted(languages.keys())" value="${lang}">${languages[lang]}</option>
          </select>
        </div>
        <div><textarea name="content" rows="20" cols="80"></textarea></div>
        <div><input type="submit" name="submit" value="Paste it!"/></div>
      </form>
    </div>
  </body>
</html>
